*.out
*~
*.bak
*.bak2
*#
*.o
.DS_store
htsim_*
*.rates
*.urates
*.asc
.vscode/
*.tmp
*.png
*.html
*.txt
sim/datacenter/uec_entry
/plotting/sent/*
/sim/output/sent/*
*.csv
__pycache__/

plotting/cwd
plotting/uec_entry
plotting/queue_size_normalized
plotting/ecn
plotting/out
plotting/rtt
plotting/sent
plotting/nack
plotting/input
plotting/ls_to_us
plotting/us_to_cs
*.goal./schedgen/uec_entry
*.bin
*.goal
*.sh
*.pdf
*.ipynb
*.svg


!sim/lgs/input/incast_1024_8_4194304.bin
!sim/lgs/input/incast_1024_100_4194304.bin
!plotting/Sample.png

!sim/lgs/input/test8_32.bin
!sim/lgs/input/test8_64.bin
!sim/lgs/input/*.bin
!utilities/goal_converter/*.goal
!traffic_gen/cdf_files/*.txt
lulesh_slimfly_8.bin